html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  background-color: rgba(189, 188, 188, 0.522);
  word-break: break-word;
}

.main {
  flex-basis: 800px;
  margin: 5%;
}