
  #root {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    font-family: 'Lato', sans-serif;
  }
  
  .main {
    width: 90%;
    max-width: 800px;
    margin: 3%;
    align-self: center;
  }