.list {
    padding: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid gray;
    align-items: center;
}

.list__item--hidden {
    display: none;
}

.list__button {
    width: 30px;
    height: 30px;
    border: none;
    color: white;
}

.list__button--done {
    background-color: rgb(0, 128, 0);
    transition: 1s;
}

.list__button--done:hover {
    background-color: rgba(0, 128, 0, 0.75);
}

.list__button--done:active {
    background-color: rgba(0, 128, 0, 0.5);
}

.list__button--delete {
    background-color: rgb(255, 0, 0);
    transition: 1s;
}

.list__button--delete:hover {
    background-color: rgba(255, 0, 0, 0.75);
}

.list__button--delete:active {
    background-color: rgba(255, 0, 0, 0.5);
}

.list__taskDone {
    text-decoration: line-through;
}